@import "tailwindcss";

/* my custom styles are here */
.main-cont{
    @apply pb-4 pl-3 pr-3 mb-10
}

.menu-item{
    @apply h-100 border-2 border-gray-100 bg-white p-3 mt-1 mb-1  rounded-md shadow-xl
}