@import "tailwindcss";

/* my custom styles are here */
.main-cont{
    @apply pb-4 pl-3 pr-3 mb-6
}

.menu-item{
    @apply h-100 border-2 border-gray-100 bg-white p-3 mt-1 mb-1  rounded-md shadow-xl
}

.form-input{
    @apply w-full text-gray-500 border-1 border-gray-200 rounded-md p-0.5;
}

.form-btn{
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mt-2 w-full;
}